
<title>Gasolinera</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/album/">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">


  <body>
   

    <div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
        <img src="../../assets/logo2.png" alt="300" width="78" height="60">
    </div>

    
<header data-bs-theme="light">
  <div class="collapse text-bg-light" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="/inicio" class="navbar-brand d-flex align-items-center">
        <strong>GasoCA4</strong>
      </a>
      
      <button > <a href="/">Cerrar sesión</a></button>


    </div>
  </div>
</header>

<div>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">GasoCA4</h1>
       
        <p class="lead text-body-secondary">GasoCA4 es una plataforma dedicada a ayudar a los conductores que viajan en la carretera CA4 a 
            encontrar gasolineras mas cercanas y recomendadas por los demas
            
        </p>
      </div>
    </div>
    <div style="display: flex; justify-content: center;">
        <div class="carousel-container">
            <div class="carousel-slide">
                <img src="../../assets/imagenes/principal.jpg" alt="450" height="350">
                <img src="../../assets/imagenes/principal2.webp" alt="450" height="350">
            </div>
            <button class="prev-btn">&#10094;</button>
            <button class="next-btn">&#10095;</button>
          </div>
          
    </div>
  </section>
 


  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <!--inicio de las cartas-->
        <div class="col">
          <div class="card shadow-sm">
            
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Imagen texaco" preserveAspectRatio="xMidYMid slice" focusable="false">
                
                <image xlink:href="../../assets/imagenes/texaquimis.jpg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"/>
              </svg>
                          <div class="card-body">
              <p>Gasolinera Texaco de Quimistan</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ver Más</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Eventos</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="background-color: rgb(235, 65, 8);" >Incidentes</button>
                </div>
                
              </div>

              <div class="rating">

                <input value="5" name="rate" id="star5" type="radio">
                <label title="text" for="star5"></label>
                <input value="4" name="rate" id="star4" type="radio">
                <label title="text" for="star4"></label>
                <input value="3" name="rate" id="star3" type="radio" checked="">
                <label title="text" for="star3"></label>
                <input value="2" name="rate" id="star2" type="radio">
                <label title="text" for="star2"></label>
                <input value="1" name="rate" id="star1" type="radio">
                <label title="text" for="star1"></label>
              </div>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary" style="background-color: rgb(114, 140, 22);" >IR AHORA</button>

          </div>
        </div>




        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Imagen texaco" preserveAspectRatio="xMidYMid slice" focusable="false">
                
                <image xlink:href="../../assets/imagenes/pumaSan.jpg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"/>
              </svg>
            <div class="card-body">
              <p class="card-text">Gasolinera Puma de San marcos </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ver Más</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Eventos</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="background-color: rgb(235, 65, 8);" >Incidentes</button>
                </div>
              </div>

              <div class="rating">
                <input value="5" name="rate" id="star5" type="radio">
                <label title="text" for="star5"></label>
                <input value="4" name="rate" id="star4" type="radio">
                <label title="text" for="star4"></label>
                <input value="3" name="rate" id="star3" type="radio" checked="">
                <label title="text" for="star3"></label>
                <input value="2" name="rate" id="star2" type="radio">
                <label title="text" for="star2"></label>
                <input value="1" name="rate" id="star1" type="radio">
                <label title="text" for="star1"></label>
              </div>

            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary" style="background-color: rgb(114, 140, 22);" >IR AHORA</button>

          </div>
        </div>




        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Imagen texaco" preserveAspectRatio="xMidYMid slice" focusable="false">
                
                <image xlink:href="../../assets/imagenes/texacoFlec.jpg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"/>
              </svg>
                <div class="card-body">
              <p class="card-text">Gasolinera Texaco de la Flecha </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ver Más</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Eventos</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="background-color: rgb(235, 65, 8);" >Incidentes</button>

                </div>
                
                
              </div>
              <div class="rating">
                <input value="5" name="rate" id="star5" type="radio">
                <label title="text" for="star5"></label>
                <input value="4" name="rate" id="star4" type="radio">
                <label title="text" for="star4"></label>
                <input value="3" name="rate" id="star3" type="radio" checked="">
                <label title="text" for="star3"></label>
                <input value="2" name="rate" id="star2" type="radio">
                <label title="text" for="star2"></label>
                <input value="1" name="rate" id="star1" type="radio">
                <label title="text" for="star1"></label>
              </div>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary" style="background-color: rgb(114, 140, 22);" >IR AHORA</button>

          </div>
  
        </div>

<div>

<!--
<footer class="">
          <p class="float-end mb-1">
            <a class="letra" href="#">Regresar</a>
          </p>
          <div style="display: flex; justify-content: center;">
            <p class="mb-1" style="font-size: large; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 30px;">Plataforma GasoCA4</p>
          </div>
        
</footer>
      -->